a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, block, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Lato", arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  transiton: all .3s ease;
  overflow: hidden;
}

li{
  list-style-type: none;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  position: relative;
  //background: #f2f0ec;
  background-color: #fff;
}

a{
  color: #000;
  transition: all .3s ease;
}

img{
  width: 100%;
  max-width: 100%;
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

//$primary: #A61263; //dina pengar
//$primary: #4DC3E0; //allt om resor
//$primary: #D80000;
$primary: #0169B2; //standard

.table{
  display: table;
  height: 100%;
  width: 100%;
  .table-cell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

main > .row{
  padding: 0 10px;
}

.row{
  background: #fff;
}

.border-bottom-blue{
  border-bottom: 3px solid $primary;
}

.border-right-gray{
  border-right: 1px solid #ccc;
}

.border-bottom-gray{
  border-bottom: 1px solid #eee;
}

.border-top-gray{
  border-top: 1px solid #eee;
}

.big-border{
  height: 15px;
  background: #eee;
  margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6{
  line-height: 100%;
}

p{
  font-size: 15px;
  line-height: 160%;
}

h2{
  font-size: 45px;
  font-weight: 900;
  line-height: 100%;
  margin-bottom: 15px;
  span, p{
    font-size: 45px;
    line-height: 100%;
  }
}

h3{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 100%;
}

h4{
  font-size: 15px;
  color: #9c9e9f;
  padding-bottom: 4px;
  margin-bottom: 15px;
}

.site-head-fill{
  height: 6.75rem;
}

.font-size{
  font-size: 45px;
  line-height: 100%;
}

@media all and (max-width: 640px){
  .border-right-gray{
    border-right: none;
  }

  .top-page, .bottom-page{
    font-size: 14px;
  }
}
