.img-wrapper{
	position: relative;
	img, p{
		margin-bottom: 20px;
		position: relative;
		z-index: 2;
	}
	p{
	    height: 0;
	    width: 100%;
	    padding-bottom: 60%;
	    overflow: hidden;
	    position: relative;
	    iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
	    }
	}
}

.flash-wrapper{
	position: relative;
}
	.flash-url{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 99;
		background: transparent;
	}

/*aside .img-wrapper{
	&:before, &:after
	{
	  z-index: 1;
	  position: absolute;
	  content: "";
	  bottom: 17px;
	  left: 1px;
	  width: 50%;
	  height: 8px;
	  max-width:300px;
	  background: #777;
	  -webkit-box-shadow: 0 15px 10px #999;
	  -moz-box-shadow: 0 15px 10px #999;
	  box-shadow: 0 15px 10px #999;
	  -webkit-transform: rotate(-5deg);
	  -moz-transform: rotate(-5deg);
	  -o-transform: rotate(-5deg);
	  -ms-transform: rotate(-5deg);
	  transform: rotate(-5deg);
	}
	&:after
	{
	  -webkit-transform: rotate(5deg);
	  -moz-transform: rotate(5deg);
	  -o-transform: rotate(5deg);
	  -ms-transform: rotate(5deg);
	  transform: rotate(5deg);
	  right: 1px;
	  left: auto;
	}
	> *{
		border: 4px solid #fff;
	}
}*/

.intro-link{
	display: block;
	margin-bottom: 15px;
	color: #0169B2;
	font-weight: bold;
}

.posts{
	article{
		.inner{
			padding: 20px 0;
			position: relative;
			.dotted-right{
				display: none;
				position: absolute;
				right: -10px;
				top: 20px;
				bottom: 20px;
				border-right: 1px dotted #ccc;
			}
		}
		.add-inner{
			padding: 20px 0 0 0;
		}
		.flash-wrapper{
			margin-top: 20px;
			overflow: hidden;
		}
		.main-post-content{
			p{
				font-size: 16px;
				color: #666;
				a{
					color: #3366FF;
				}
			}
			h4, h3, h2{
				margin-bottom: 5px;
			}
			ul,
			ol{
				a{ color: #3366FF !important; }
			}
		}
	}
	article:first-child{
		.inner{
			padding: 0 0 20px 0;
		}
	}
	article.medium-6{
		h2{
			font-size: 20px !important;
			font-weight: 900 !important;
			line-height: 130%;
			color: #333 !important;
			margin-bottom: 10px;
		  	*{
		    	font-size: 20px !important;
		    	line-height: 130% !important;
		  	}
		}
	}
}

.single-post{
	.post-area{
		div:first-child{
			> img{
				margin-bottom: 20px;
			}
		}
	}
	.flexslider{
		.slides{
			li{
				img{
					margin-bottom: 10px;
				}
			}
		}
	}
	.ingress{
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 20px;
		line-height: 1.4;
	}
	.facts{
		padding: 10px;
		background: #f5f2f1;
		img{
			margin-bottom: 10px !important;
		}
		p{
			font-size: 12px;
		}
	}
	.more-posts{
		h4{
			padding: 2px 0 2px 0;
			border-top: 3px solid #eee;
		}
		article{
			margin-bottom: 20px;
			h3{
				font-size: 16px;
			}
			.img-wrapper{
				p, img{
					margin-bottom: 10px;
				}
			}
			a{
				p{
					font-size: 14px;
					strong{
						font-weight: normal !important;
					}
				}
			}
		}
	}
}

.social-buttons{
	padding: 20px 0 0 0;
	> * {
		margin-right: 10px;
	}
}

aside{
	overflow: hidden;
	p{
		margin-top: 10px;
		b{
			color: #777;
		}
	}
	input{
		display: block;
		width: 100%;
		border: 1px solid #eee;
		margin: 0;
		border-radius: 0;
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
		padding: 0 10px;
		&:focus{
			outline: 0;
		}
	}
	::placeholder{
		font-weight: 300;
		font-family: "Lato";
	}
	.inner{
		padding: 0 0 20px 0;
	}
	.inner{
		a{
			overflow: hidden;
			> div{
				p{
					margin-top: 0 !important;
				}
			}
		}
		.flash-wrapper{
			overflow: hidden;
			p{
				margin-top: 0 !important;
			}
			p:nth-of-type(1){
				&:before{
					display: none !important;
				}
			}
		}
	}
}

.main-content{
	padding-bottom: 20px !important;
	padding-top: 20px !important;
}

.first-bold{
    font-weight: bold;
}

.search-results{
	padding: 0 10px;
	h2{
		font-size: 26px;
	}
	a{
		display: block;
		padding: 20px 0;
		border-bottom: 1px solid #eee;
	}
	a:first-child{
		border-top: 1px solid #eee;
	}
}

/*.addthis_toolbox{
	margin-top: 20px;
	a{
		margin-right: 7px;
	}
	i{
		padding: 0 8px;
		height: 28px;
		line-height: 28px;
		color: #fff;
		display: block;
		float: left;
		border-radius: 3px;
		span{
			font-size: 12px;
			display: block;
			line-height: 28px;
			height: 28px;
			float: right;
			margin-left: 8px;
		}
	}
	.icon-twitter{
		background: #00c0fa;
	}
	.icon-facebook{
		background: #235ba1;
	}
	.icon-mail{
		background: #ffce52;
	}
	.icon-print{
		background: #bcbcbc;
	}
}*/

.flex-caption{
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	display: block;
}

.faq-wrapper{
	position: relative;
	h3{
		font-weight: normal;
	}
}
.faq-part{
	margin-bottom: 15px;
}
.toggle-all-questions{
	position: absolute;
	top: calc(100% + 20px);
	right: 0;
	font-size: 14px;
	.none{
		display: none;
	}
}
.question-wrapper{
	padding: 12px 10px 10px 23px;
	border-top: 1px solid #ccc;
	position: relative;
	z-index: 10;
	cursor: pointer;
	display: block;
	*{
		cursor: pointer;
	}
	h4{
		margin-bottom: 0 !important;
		font-weight: 300;
		color: #777;
		font-size: 18px;
		line-height: 110%;
	}
	p{
		font-size: 14px !important;
		line-height: 130%;
		font-weight: normal;
		margin-top: 5px;
	}
	.answer-wrapper{
		display: none;
		p:before{
			display: none !important;
		}
	}
	&:after{
		position: absolute;
		display: block;
		top: 10px;
		left: 3px;
		content: '\e800';
		font-family: "fontello";
		color: $primary;
		font-size: 20px;
		line-height: 100%;
		transition: all .1s ease;
	}
	&:hover{
		background: #eee;
	}
}
.question-wrapper:nth-child(2){
	border-top: 1px solid $primary;
}
.question-wrapper:last-child{
	border-bottom: 1px solid #ccc;
}
.question-wrapper.active{
	&:after{
		transform: rotate(-180deg);
	}
}

.board{
	background: $primary;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
	p{
		color: #fff !important;
		line-height: 100% !important;
		&:before{
			display: none !important;
		}
	}
}
.product-board{
	background: $primary;
	padding: 5px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
	img, p{
		float: left;
	}
	img{
		height: 35px;
		width: auto;
		margin-right: 10px;
		margin-left: 5px;
		margin-bottom: 0 !important;
	}
	p{
		color: #fff !important;
		line-height: 35px;
		&:before{
			display: none !important;
		}
	}
}
.product-slider{
	border: 1px solid #eee;
	padding: 10px 0;
	margin: 0 !important;
	.product-wrapper{
		border-right: 1px solid #eee;
		overflow: hidden;
		padding: 10px 10px 40px 10px;
		position: relative;
		.img-wrapper{
			display: inline-block;
			img{
				display: block;
				max-width: 100%;
				width: auto;
				height: auto;
				max-height: 120px;
			}
		}
		h4{
			font-size: 20px;
			font-weight: 300;
		}
		p{
			font-family: "Lato";
			font-weight: bold;
			font-size: 14px !important;
			&:before{
				display: none !important;
			}
		}
		a{
			position: absolute;
			bottom: 0;
			left: 10px;
			display: inline-block;
			height: 30px;
			padding: 0 10px;
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			border-radius: 15px;
			line-height: 30px;
			background: $primary;
			&:hover{
				background: lighten($primary, 10%);
			}
		}
	}
	.product-wrapper:last-child{
		border-right: none;
	}
	.slide-inner{
		display: table;
		height: 100%;
		table-layout: fixed;
		.product-wrapper{
			display: table-cell;
			height: 100%;
			width: 2%;
		}
	}
	.flex-direction-nav a{
		opacity: 0;
	}
	&:hover{
		.flex-direction-nav a{
			opacity: .3;
		}
	}
}

.form-board{
	font-weight: 300;
	font-size: 20px;
	color: #fff;
	padding: 5px 20px;
	background: $primary;
	margin-bottom: 10px;
}
.contact-form{
	padding: 20px;
	background: #eee;
	margin-bottom: 20px;
	position: relative;
	h2{
		font-size: 20px;
		text-transform: uppercase;
	}
	p{
		font-size: 14px !important;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: 15px;
		&:before{
			display: none !important;
		}
	}
	input, textarea{
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 0;
		padding: 10px;
		border: 1px solid #ccc;
		font-size: 14px;
		outline: 0;
		&:focus{
			border: 1px solid $primary;
		}
	}
	input[type="submit"]{
		width: auto;
		color: #fff;
		font-family: "Lato";
		font-size: 14px;
		padding: 10px 20px;
		background: $primary;
		text-transform: uppercase;
		border: 0 !important;
		cursor: pointer;
		font-weight: 300;
		transition: all .3s ease;
		&:hover{
			background: lighten($primary, 10%);
		}
	}
	.ajax-loader{
		display: none !important;
	}
	.wpcf7-response-output{
		padding: 20px 0 0 0 !important;
		margin: 0 !important;
		border: 0 !important;
		color: red !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
		font-size: 14px !important;
	}
}

@media all and (max-width: 1025px){
	.single-post{
		.facts{
			margin-top: 20px;
			img{
				display: none !important;
			}
		}
	}
}

@media all and (max-width: 640px){
	.posts{
		article{
			h2{
				font-size: 30px !important;
				font-weight: 900 !important;
				*{
					font-size: 30px !important;
				}
			}
		}
	}

	.single-post{
		.facts{
			margin-top: 15px;
		}
	}

	.searchform{
		display: none;
	}

	.addthis_toolbox{
		a{
			margin-right: 4px;
		}
		i{
			span{
				font-size: 11px;
				margin-left: 8px;
			}
		}
		.addthis_button_print{
			display: none;
		}
	}
}

@media all and (max-width: 540px){
	.product-slider{
		padding: 10px 0;
		.product-wrapper{
			h4{
				font-size: 14px;
			}
			p{
				font-size: 12px !important;
			}
			a{
				font-size: 10px;
			}
		}
		.product-wrapper:first-child{
			padding-right: 5px;
		}
		.product-wrapper:last-child{
			padding-left: 5px;
		}
	}
}

.video-wrapper{
	position: relative;
	padding-bottom: 56.6%;
	overflow: hidden;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
