.dina-pengar{
	.columns{
		padding: 0;
	}
}

	.dina-pengar-inner{
		height: 58px;
		background: #F7EAF1;
		overflow: hidden;
		padding: 0 15px;
	}
		.dina-pengar-logo{
			float: left;
			height: 34px;
			margin: 12px 0;
			width: auto;
		}
		.di-ex-logo{
			float: right;
			height: 28px;
			width: auto;
			margin: 15px 0;
		}

	.dina-pengar-menu{
		height: 46px;
		background: $primary;
		li{
			display: block;
			float: left;
			a{
				display: block;
				line-height: 46px;
				padding: 0 20px;
				transition: .25s ease;
				color: #fff;
				&:hover{
					background: lighten($primary, 10%);
				}
			}
		}
	}

	.toggle-dina-pengar-menu{
		height: 40px;
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;
		> div{
			width: 20px;
			span{
				display: block;
				width: 100%;
				background: $primary;
				height: 3px;
				&:nth-child(2){
					margin: 4px 0;
				}
			}
		}
	}

@media all and (max-width: 900px){
	.dina-pengar-inner{
		text-align: center;
		height: 40px;
		position: relative;
		z-index: 20;
		background: #fff;
	}
	.dina-pengar-logo{
		display: inline-block;
		height: 16px;
		margin: 12px 0;
		float: none;
	}
	.di-ex-logo{
		height: 16px;
		margin: 12px 0;
	}
	.dina-pengar-menu-wrapper{
		position: relative;
		z-index: 10;
	}
		.dina-pengar-menu{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			transform: translate3d(0,-100%,0);
			transition: .3s ease;
			li{
				float: none;
				a{
					line-height: 40px;
					padding: 0 15px;
					border-bottom: 1px solid lighten($primary, 10%);
				}
			}
			&.active{
				transform: translate3d(0,0,0);
			}
		}
}

@media all and (min-width: 901px){
	.toggle-dina-pengar-menu{
		display: none;
	}
}

@media all and (max-width: 400px){
	.dina-pengar-logo{
		float: left;
		display: block;
		margin-left: 15px;
	}
}