
 .dn-head {
  position: relative;
  z-index: 1000;
}
.dn-head .columns {
  padding: 0;
}

.dn-head-top {
  display: block;
  background: #fff;
  padding: 10px 15px 0 15px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.dn-head-top img {
  display: block;
  width: auto;
  height: auto;
  float: left;
}
.dn-head-top > div {
  overflow: hidden;
}

.toggle-dn-menu {
  height: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-dn-menu > div {
  width: 20px;
}
.toggle-dn-menu > div span {
  display: block;
  width: 100%;
  background: #000;
  height: 3px;
}
.toggle-dn-menu > div span:nth-child(2) {
  margin: 4px 0;
}

.dn-border {
  margin-top: 10px;
  display: block;
  height: 2px;
  background: #000;
  overflow: hidden;
}

.dn-head-bottom {
  background: #fff;
  padding: 0 15px 10px 15px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.dn-head-bottom ul {
  overflow: hidden;
}
.dn-head-bottom ul li {
  display: block;
}
.dn-head-bottom ul li a {
  display: block;
  font-family: Arial, "helvetica neue", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 0 20px 0 8px;
}

@media all and (max-width: 1025px) {
  .dn-head {
    background: #fff;
  }

  .dn-head-top {
    margin-bottom: 10px;
  }
  .dn-head-top img {
    height: 30px;
  }

  .dn-head-bottom {
    background: #fff;
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    width: 100%;
    transition: .25s ease;
    transform: translate3d(0, -100%, 0);
  }
  .dn-head-bottom ul {
    background: #fff;
  }
  .dn-head-bottom ul li a {
    border-bottom: 1px solid #bbb;
    line-height: 23px;
    height: 28px;
  }
  .dn-head-bottom.active {
    transform: translate3d(0, 0, 0);
  }
}
@media all and (min-width: 1026px) {
  .toggle-dn-menu {
    display: none;
  }

  .dn-head-bottom ul {
    border-bottom: 1px solid #bbb;
  }
  .dn-head-bottom ul li {
    float: left;
  }
  .dn-head-bottom ul li a {
    border-right: 1px solid #bbb;
    height: 38px;
    line-height: 27px;
  }
}