.link-mobile, .link-tablet, .link-desktop{
	display: none !important;
}

@media all and (max-width: 640px){
	.link-mobile{
		display: block !important;
	}
}
@media all and (min-width: 641px) and (max-width: 1025px){
	.link-tablet{
		display: block !important;
	}
}
@media all and (min-width: 1026px){
	.link-desktop{
		display: block !important;
	}
}