footer{
	.row{
		padding: 0 10px;
	}
	p{
		color: #ccc;
	}
	.footer-top{
		background: #363839;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 10px solid #e9eaee;
		h2{
			color: #fff;
			font-size: 20px;
			font-weight: 900;
		}
		img{
			float: left;
			width: auto;
			margin-bottom: 15px;
		}
		p{
			float: left;
		}
	}
	.footer-bottom{
		line-height: 60px;
		background: #282a2b;
		border-top: 1px solid #666;
		p{
			float: left;
			line-height: 60px;
		}
		ul{
			float: right;
			li{
				display: block;
				float: left;
				a{
					display: block;
					color: #46494a;
					margin-left: 20px;
					position: relative;
					i{
						font-size: 20px;
					}
					.tool-tip{
						position: absolute;
						top: -15px;
						left: -20px;
						height: 22px;
						line-height: 22px;
						background: #4b4e4f;
						color: #fff;
						font-size: 11px;
						font-weight: 300;
						padding: 0 12px;
						transition: all .3s ease;
						display: none;
						text-transform: capitalize;
						&:before{
							position: absolute;
							bottom: -8px;
							left: 15px;
							z-index: 1;
							width: 0;
							height: 0;
							border-top: 10px solid #4b4e4f;
							border-left: 10px solid transparent;
							content: '';
						}
					}
					&:hover{
						.tool-tip{
							display: block;
						}
					}
				}
			}
		}
	}
}

.publisher{
	padding: 20px 0 60px 0;
	.row{
		background: transparent;
	}
	.columns{
		text-align: center;
		> div{
			display: inline-block;
		}
	}
	img{
		max-width: 80px;
		float: left;
	}
	p{
		float: left;
		font-weight: bold;
		margin-left: 20px;
	}
}