.wpforms-container{
	margin-bottom: 2rem;
	overflow: hidden;

	form{
		border-bottom: 1px solid #ccc;
		padding-bottom: 2rem;
	}

	input:not([type=radio]), textarea{
		display: block;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 0;
		font-family: "Lato";
		font-size: 1rem;
		outline: 0;
		margin-bottom: 1rem;

		&:focus{
			border-color: $primary;
		}

		&.wpforms-error{
			border-color: red;
		}
	}

	input:not([type=radio]){
		height: calc(3rem + 2px);
		line-height: 2rem;
		padding: 0.5rem 1.5rem;
		outline: 0;
	}

	button[type=submit]{
		display: inline-block;
		height: 3rem;
		padding: 0 2.5rem;
		font-family: "Lato";
		font-size: 0.85rem;
		text-transform: uppercase;
		color: #fff;
		transition: .35s ease;
		border: 0;
		background-color: $primary;

		&:hover{
			background-color: lighten($primary, 10%);
		}	
	}

	textarea{
		padding: 1rem 1.5rem;
	}

	label{
		display: block;
		margin-bottom: 0.35rem;	
		font-size: 0.85rem;
		font-family: "Lato";

		&.wpforms-error{
			display: none !important;
		}
	}
} 

	.wp-form__question{
		overflow: hidden;
		padding: 2rem 0;
		font-size: 1.5rem;
		border-top: 1px solid #ccc;
	}

	.wpforms-field-radio{
		margin-bottom: 1rem;
		overflow: hidden;

		ul, li{
			list-style: none;
			margin: 0 !important;
			padding: 0;
		}

		ul{
			display: flex;
			flex-wrap: wrap;
		}

		li{
			display: flex;
			align-items: center;
			overflow: hidden;
			padding: 0.25rem;
			width: calc(100% / 3);
			flex-basis: calc(100% / 3);

			label{
				margin-bottom: 0;
			}

			input{
				margin-right: 0.5rem;
			}
		}
	}