.site-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	transition: transform .35s ease;

	&.is-scrolled{
		transform: translate3d(0, -2.5rem, 0);
	}
}

	.site-header__inner{
		display: block;
		height: 2.5rem;
		overflow: hidden;
		position: relative;
		background-size: auto 95%;
		background-position: center;
		background-repeat: no-repeat;

		&:before{
			position: absolute;
			height: 100%;
			line-height: 2.5rem;
			padding: 0 1rem;
			font-size: 1.75rem;
			color: #ccc;
			border-right: 1px solid #ccc;
			transition: .25s ease;
			font-family: "FontAwesome";
			content: '\f015';
		}

		&:hover{

			&:before{
				color: $primary;
			}
		}
	}

.site-label{
	height: 1.75rem;
	line-height: 1.75rem;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.7rem;
	text-align: center;
}

.site-header__enerfy{
	background-color: $color-grey-01;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.5rem;
	color: $color-black;
	text-align: center;
	background-image: url('../assets/img/enerfy.png');
	background-position: 1rem center;
	background-size: auto 75%;
	background-repeat: no-repeat;

	@media (max-width: 1000px){
		background-image: none;
		font-size: 1rem;
	}
}

.site-head-label{
	height: 2rem;
}

	.site-head-label__inner{

		.site-label{

			@media (max-width: 1025px){
				margin: 0 -0.9375rem;
				width: calc(100% + 1.875rem);
			}
		}

		&.is-scrolled{
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 1000;
		}
	}
