.mitt-kok-wrapper{
	#expressen-logo{
		padding: 15px;
	}
}

.mitt-kok{
	.menu-toggle{
		display: none;
		padding: 8px 0;
		span{
			background: #000;
		}
	}
	ul{
		display: block;
		overflow: hidden;
		text-align: center;
		li{
			display: block;
			a{
				display: block;
				text-transform: uppercase;
				font-family: "quicksand";
				font-size: 18px;
				line-height: 35px;
				height: 35px;
			}
		}
	}
}

@media all and (max-width: 769px){
	.mitt-kok-wrapper{
		#expressen-logo{
			padding: 10px;
		}
	}
	.mitt-kok{
		.menu-toggle-wrapper{
			overflow: hidden;
			border-top: 3px dotted #ccc;
			border-bottom: 3px dotted #ccc;
		}
		.menu-toggle{
			display: block;
		}
		.dropdown{
			display: block;
			width: 100%;
			overflow: hidden;
			padding-bottom: 10px;
		}
		.dropdown-inner{
			display: none;
		}
		ul{
			li{
				a{
					border-bottom: 1px dotted #ccc;
					font-size: 14px;
					line-height: 30px;
					height: 30px;
				}
			}
		}
	}
}

@media all and (min-width: 770px){
	.mitt-kok{
		padding: 0 15px;
		ul{
			li{
				display: inline-block;
				float: none;
				a{
					padding: 0 15px;
				}
			}
		}
		.dropdown{
			padding: 0;
			margin: 0 0 15px 0;
			text-align: center;
			border-top: 3px dotted #ccc;
			border-bottom: 3px dotted #ccc;
		}
	}
}