@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 1025px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 640px)  { @content; }
  }
  @else if $point == smallMobile {
    @media (max-width: 400px)  { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1026px)  { @content; }
  }
}

@mixin flex($value){
	display: flex;
	justify-content: $value;
	align-items: center;
}

@mixin absolute(){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin bg(){
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}