$menu-height: 3rem;

.site-head{
	@include bp(tablet){
		.columns{
			padding: 0;
		}
	}
}

.site-head--halsa{
	.site-head__logo-desktop{
		height: 4rem;
		background-image: url('../assets/img/halsoliv_logo.svg');
	}
	.site-head__inner{
		background-color: #E5276E;
		ul{
			a{
				color: #fff;
			}
		}
	}
		.toggle-mobile-nav{
			&:before{
				color: #fff;
			}
		}
		.site-head__logo-mobile{
			background-image: url('../assets/img/halsoliv_logo-white.svg');
		}
		.site-head__login{
			background: #EDEDED;
			color: #E5276E;
			&:before{
				color: #E5276E;
			}
			&:hover{
				background: darken(#EDEDED, 10%);
			}
			@include bp(tablet){
				color: transparent;
			}
		}
}

.site-head--motor{
	.site-head__logo-desktop{
		height: 3rem;
		background-image: url('../assets/img/alltombilar.svg');
	}
	.site-head__inner{
		background-color: #bd0000;
		ul{
			a{
				color: #fff;
			}
		}
	}
		.toggle-mobile-nav{
			&:before{
				color: #fff;
			}
		}
		.site-head__logo-mobile{
			background-image: url('../assets/img/alltombilarmobile.svg');
			background-size: auto 30%;
		}
		.site-head__login{
			background: #74787F;
			color: #fff;
			&:before{
				color: #fff;
			}
			&:hover{
				background: darken(#74787F, 10%);
			}
			@include bp(tablet){
				color: transparent;
			}
		}
}

.site-head--mode{
	.site-head__logo-desktop{
		height: 2rem;
		background-image: url('../assets/img/mode.svg');
	}
	.site-head__inner{
		background-color: #EDEDED;
		ul{
			&:first-child{
				a{
					&:before{
						color: #41454C;
					}
				}
			}
			a{
				color: #41454C;
			}
		}
	}
		.site-head__logo-mobile{
			background-image: url('../assets/img/mode.svg');
		}
		.site-head__login{
			background: #E5276E;
			color: #fff;
			&:before{
				color: #fff;
			}
			&:hover{
				background: darken(#E5276E, 10%);
			}
			@include bp(tablet){
				color: transparent;
			}
		}
}

.site-head--leva-och-bo{
	.site-head__logo-desktop{
		height: 2rem;
		background-image: url('../assets/img/levabo.svg');
	}
	.site-head__inner{
		background-color: #EDEDED;
		ul{
			&:first-child{
				a{
					&:before{
						color: #41454C;
					}
				}
			}
			a{
				color: #41454C;
			}
		}
	}
		.site-head__logo-mobile{
			background-image: url('../assets/img/levabo.svg');
		}
		.site-head__login{
			background: #58CFA4;
			color: #fff;
			&:before{
				color: #fff;
			}
			&:hover{
				background: darken(#58CFA4, 10%);
			}
			@include bp(tablet){
				color: transparent;
			}
		}
}

.site-head__top{
	overflow: hidden;
	position: relative;
	padding: 1rem 0 0.85rem 0;
	@include bp(tablet){
		display: none;
	}
}

	.site-head__logo-desktop{
		display: block;
		background-size: auto 100%;
		background-position: left center;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
	}

	.site-head__expressen{
		position: absolute;
		top: 1rem;
		right: 0;
		z-index: 2;
		text-transform: uppercase;
		font-size: 1rem;
		color: #41454C;
		padding-left: 0.5rem;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			font-family: "FontAwesome";
			content: '\f0d9';
			color: inherit;
		}
		&:hover{
			text-decoration: underline;
		}
	}

.site-head__inner{
	height: $menu-height;
	position: relative;
	margin-bottom: 0.5rem;
	@include bp(tablet){
		margin-bottom: 0;
	}
}

	.toggle-mobile-nav{
		display: none;
		float: left;
		width: 3rem;
		height: 3rem;
		border: 0;
		padding: 0;
		margin: 0;
		background: transparent;
		border-right: 3px solid #fff;
		position: relative;
		outline: 0;
		cursor: pointer;
		&:before{
			@include absolute;
			line-height: 3rem;
			text-align: center;
			font-size: 1.15rem;
			font-family: "FontAwesome";
			content: '\f0c9';
		}
		@include bp(tablet){
			display: block;
		}
	}

	.site-head__logo-mobile{
		display: none;
		position: absolute;
		z-index: 2;
		top: 0;
		height: 100%;
		left: 3rem;
		right: 3rem;
		background-size: auto 65%;
		background-position: center;
		background-repeat: no-repeat;
		@include bp(tablet){
			display: block;
		}
	}

	.site-head__menu{
		height: $menu-height;
		float: left;
		ul{
			li{
				display: block;
				float: left;
				&:first-child{
					border-right: 3px solid #fff;
					a{
						position: relative;
						padding: 0;
						width: $menu-height;
						color: transparent;
						&:before{
							position: absolute;
							top: 0;
							left: 0;
							height: 100%;
							width: $menu-height;
							line-height: $menu-height;
							font-size: 1.15rem;
							color: #fff;
							text-align: center;
							font-family: "FontAwesome";
							content: '\f015';
						}
					}
				}
			}
			a{
				display: block;
				padding: 0 1rem;
				line-height: $menu-height;
				height: $menu-height;
				position: relative;
				text-transform: uppercase;
				font-size: 0.85rem;
				&:hover{
					background: rgba(#fff, 0.2);
					text-decoration: underline;
				}
			}
		}
		@include bp(tablet){
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: auto;
			background: #41454C;
			z-index: 1000;
			ul{
				li{
					float: none;
					border-bottom: 1px solid rgba(#fff, 0.1);
					&:first-child{
						border-right: 0;
						a{
							width: 100%;
							padding: 0 1rem;
							color: #fff;
							&:before{
								display: none;
							}
						}
					}
					&:last-child{
						border-bottom: 0;
					}
				}
				a{
					color: #fff !important;
				}
			}
		}
		@include bp(desktop){
			display: block !important;
		}
	}

	.site-head__login{
		float: right;
		border-left: 3px solid #fff;
		padding: 0 1rem;
		height: $menu-height;
		line-height: $menu-height;
		font-family: "Lato";
		text-transform: uppercase;
		font-size: 0.85rem;
		&:before{
			font-family: "FontAwesome";
			font-size: 1.15rem;
			margin-right: 0.35rem;
		}
		&:hover{
			text-decoration: underline;
		}
		@include bp(tablet){
			width: 3rem;
			overflow: hidden;
			position: relative;
			&:before{
				@include absolute();
				line-height: 3rem;
				text-align: center;
				margin-right: 0;
			}
		}
	}