.popular{
	margin-bottom: 20px;
	.sidebar-article-title{
		margin-bottom: 0;
	}
}
	.sidebar-article-title{
		padding-bottom: 3px;
	}
	.popular-tabs{
		overflow: hidden;
		background: #ccc;
		a{
			display: block;
			float: left;
			width: 40%;
			padding: 10px 10px 10px 10px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			font-size: 14px;
			border-left: 1px solid #999;
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
		}
		a:last-child{
			width: 60%;
			border-right: 1px solid #fff;
		}
		a:first-child{
			border-left: 1px solid #fff;
		}
		a.active{
			background: #fff;
			color: #000;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			&:before{
				background: $primary;
			}
		}
	}
	.btn-more{
		position: absolute;
		right: 0;
		bottom: 50%;
		margin-bottom: -10px;
		font-size: 12px;
		border-radius: 3px;
		height: 20px;
		line-height: 20px;
		background: $primary;
		color: #fff;
		padding: 0 5px;
	}
	.popular-post{
		padding: 15px 0;
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		display: block;
		position: relative;
		.btn-more{
			bottom: 50%;
			margin-bottom: -11px;
		}
	}
		.popular-thumbnail{
			width: 30%;
			padding-bottom: 20%;
			float: left;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		.popular-post-title{
			width: 70%;
			color: #888888;
			float: left;
			padding: 0 70px 0 10px;
			margin: 0;
		    font-size: 16px;
		    font-weight: 700;
		    line-height: 120%;

		    span{
		    	display: block;
		    	color: $primary !important;
		    	font-weight: bold !important;
		    	font-size: 14px !important;
		    }
		}

	.popular-videos{
		display: none;
	}

@media all and (max-width: 1025px) and (min-width: 641px){
	.popular-post{
		.btn-more{
			bottom: 15px;
			margin-bottom: 0;
		}
	}
		.popular-thumbnail{
			width: 100%;
			padding-bottom: 60%;
		}
		.popular-post-title{
			width: 100%;
			padding: 10px 70px 0 0;
		    font-size: 15px;
		}

}

@media all and (max-width: 1025px) and (min-width: 641px){
	.btn-more{
		bottom: 0;
	}
}