.rec{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: $color-white;
  padding: 1rem 0;
  border-top: 1px solid $color-grey-03;
  visibility: hidden;
  opacity: 0;
}

  .rec__title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  .rec__desc{
    font-weight: bold;
    font-size: 0.85rem;
  }

  .rec__inner{
    display: flex;
    position: relative;
  }

    .rec__link{
      display: flex;
    }

      .rec__content{
        max-width: 30rem;
        padding-right: 2rem;
      }

      .rec__thumb{
        max-width: 8rem;
      }

    .rec__close{
      padding-left: 2rem;
      outline: 0;
      font-size: 1.15rem;
    }
