.secondary-nav{

	.columns{
		background-color: #fff;
		padding-bottom: 1rem;
	}
}

	.secondary-nav__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 10px;
		width: calc(100% - 20px);
		border-bottom: 3px solid $primary;
		position: relative;

		> div{
			display: flex;
			flex-grow: 1;
			align-items: center;
			height: 3rem;
		}
	}

		.secondary-nav__toggle{
			height: 3rem;
			width: 3rem;
			text-align: left;
			font-size: 2rem;
			outline: 0;
			cursor: pointer;

			@media all and (min-width: 770px){
				display: none;
			}
		}

		.secondary-nav__logo{
			img{
				height: 2rem;
				width: auto;
			}
		}

		.secondary-nav__menu{
			margin-left: 2rem;
			li{
				display: block;
				float: left;
				margin-left: 1rem;
			}
			a{
				display: block;
				font-size: 0.85rem;
				font-weight: 300;
				text-transform: uppercase;
				transition: .25s ease;

				&:hover{
					color: $primary;
				}
			}

			@media all and (max-width: 770px){
				display: none;
				position: absolute;
				top: calc(100% + 3px);
				left: 0;
				right: 0;
				background-color: #fff;
				padding: 1rem;
				overflow: hidden;
				margin-left: 0;
				z-index: 10;
				border-bottom: 1px solid $primary;

				li{
					width: 100%;
					margin-left: 0;
				}

				a{
					text-align: center;
					padding: 0.5rem 0;
				}
			}
		}

		.secondary-nav__right{
			justify-content: flex-end;

			a{
				font-weight: bold;

				@media all and (max-width: 770px){
					display: none;
				}
			}
		}