.social-share{
	span{
		display: block;
		font-weight: bold;
		margin-bottom: 2rem;
	}
	&.social-share--footer{
		margin-bottom: 4rem;
	}
}

	.social-share__link{
		display: block;
		float: left;
		height: 2.5rem;
		line-height: 2.5rem;
		text-align: center;
		font-size: 1.25rem;
		color: #fff;
		margin-right: 0.5rem;
		transition: opacity .25s ease;
		&.social-share__link--facebook{
			padding: 0 1rem;
			background-color: #3b5998;
			font-family: "Lato", arial, sans-serif;
			font-size: 0.85rem;
			text-transform: uppercase;
			font-weight: 700;
			&:before{
				font-family: 'FontAwesome';
				margin-right: 1rem;
			}
		}
		&.social-share__link--twitter{
			width: 3rem;
			background-color: #00aced;
		}
		&:hover{
			opacity: .8;
		}
	}