.sidebar-videos{
    overflow: hidden;
    margin: 15px 0;
}

.mplay{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

    .mplay-episodes{
        overflow: hidden;
    }

        .mplay-top{
            background: $primary;
            display: block;
            color: #fff;
            font-weight: 600;
            padding: 0 8px;
            height: 30px;
            line-height: 30px;
            position: relative;
            text-align: center;
            font-weight: normal;
        }
        .mplay-top span{
            display: inline-block;
            position: relative;
            top: 4px;
            height: 20px;
            width: 20px;
            margin-right: 5px;
            border-radius: 50%;
            border: 1px solid #fff;
        }
        .mplay-top span:before{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0; 
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #fff;
            content: '';
            margin-top: -6px;
            margin-left: -2px;
        }
        .mplay-desc{
            line-height: 130%;
            font-weight: 300;
            font-size: 16px;
            padding-bottom: 10px;
        }
        .mplay-all{
            display: block;
            padding: 10px 0;
            border-top: 1px solid #eee;
            font-size: 14px;
            font-weight: 600;
            font-style: italic;
        }

        .mplay-episode{
            display: block;
            padding: 10px 0;
            border-top: 1px solid #eee;
            overflow: hidden;
        }
        .mplay-episode .img-wrapper{
            width: 40%;
            float: left;
        }
        .mplay-episode .img-wrapper img, .mplay-episode .img-wrapper p{
            margin-bottom: 0;
        }
        .mplay-episode .img-wrapper:before, .mplay-episode .img-wrapper:after{
            display: none;
        }

        .mplay-episode-info{
            width: 60%;
            float: left;
            padding: 0 0 0 10px;
            overflow: hidden;
        }

        .mplay-episode-info p{
            font-size: 12px;
            margin: 0 0 5px 0;
            color: $primary;
            font-weight: 600;
        }
        .mplay-episode-info h4{
            font-weight: 300;
            font-size: 17px;
            color: #000;
            margin-bottom: 0;
            p {
                font-weight: 300;
                font-size: 17px !important;
                color: #000;
            }
        }

.mplay-episode:first-child{
    .img-wrapper{
        width: 100%;
        margin: 0 0 10px 0;
        img{
            border: 0;
        }
    }
    .mplay-episode-info{
        width: 100%;
        padding: 0;
    }
        .mplay-episode-info p{
            font-size: 14px;
        }
        .mplay-episode-info h4{
            font-size: 21px;
        }
}

.to-videos{
    height: 22px;
    line-height: 22px;
    border-radius: 8px;
    background: $primary;
    color: #fff;
    font-size: 12px;
    padding: 0 15px;
    float: right;
    margin-top: 10px;
}