.tabs{
	padding: 1rem 0;
	background: #fff;
	margin-left: 0.625em;
	margin-right: 0.625em;
}

	.tabs__inner{
		border-bottom: 1px solid #000;
		overflow: hidden;
	}

		.tabs__logo{
			float: left;
			img{
				display: block;
				height: 1.5rem;
				width: auto;
			}
		}

		.tab-links{
			float: right;
			li{
				display: block;
				float: left;
				position: relative;
				a{
					display: block;
					height: calc(2.5rem + 1px);
					line-height: 2.5rem;
					border-top: 1px solid #000;
					border-left: 1px solid #000;
					border-right: 1px solid #000;
					background: #a3a3a3;
					padding: 0 2rem;
					border-top-left-radius: 1rem;
					border-top-right-radius: 1rem;
					color: #fff;
					font-weight: bold;
				}
				&.is-active{
					z-index: 10;
					a{
						background: #E32118;
					}
				}
			}
		}

@media all and (max-width: 1025px){
	.tab-links{
		li{
			a{
				height: calc(2rem + 1px);
				line-height: 2rem;
				padding: 0 1rem;
				font-size: 0.85rem;
			}
		}
	}
}

@media all and (max-width: 640px){
	.tab-links{
		width: 100%;
		margin-top: 1rem;
		li{
			width: 50%;
			a{
				border-radius: 0;
				text-align: center;
			}
			&:nth-child(1), &:nth-child(3){
				a{
					border-right: 0;
				}
			}
		}
	}
}

@media all and (min-width: 641px){
	.tab-links{
		li{
			&:nth-child(1){
				right: -1.5rem;
			}
			&:nth-child(2){
				right: -1rem;
			}
			&:nth-child(3){
				right: -0.5rem;
			}
		}
	}
}