.main-post-content ul li{color:#666;list-style-type:disc;margin-left: 30px;margin-right: 35px;}


.main-post-content ol li{color:#666;list-style-type:decimal;margin-left: 30px;margin-right: 35px;}


.main-post-content address a {color:#36F;}


.main-post-content h3 {font-size:20px; color:#666; font-weight: 600;}